.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #FDB827;
  padding: 15px;
}

.text {
  color: black;
}

.nav-color {
  color: white;
  background-color: #0090CC;
}

/*.navbar-custom {
    color: black;
    background-color: #0090CC;
}*/
